/*============================================================*/
/*------------------------------------------------------------*/
/** core rules for ranjithkumarr.com **/
/*------------------------------------------------------------*/
/*============================================================*/


/*****************************************/
/** essential utility rules **/
/*****************************************/

//clearfix*****************************************/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

//hyperlinks*****************************************/
a{
	color: #1272d5;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color:#196f93;
	}
}

//common utilities*****************************************/
.hidden{
	display: none;
}

//pulseanimation*****************************************/
@keyframes "pulse2" {
		 0% {
		    -webkit-transform: scale(1.1);
		   	-moz-transform: scale(1.1);
		   	-o-transform: scale(1.1);
		   	-ms-transform: scale(1.1);
		   	transform: scale(1.1);
		 }
		 50% {
		    -webkit-transform: scale(0.8);
		   	-moz-transform: scale(0.8);
		   	-o-transform: scale(0.8);
		   	-ms-transform: scale(0.8);
		   	transform: scale(0.8);
		 }
		 100% {
		    -webkit-transform: scale(1);
		   	-moz-transform: scale(1);
		   	-o-transform: scale(1);
		   	-ms-transform: scale(1);
		   	transform: scale(1);
		 }
		}

		@-moz-keyframes pulse2 {
		 0% {
		   -moz-transform: scale(1.1);
		   transform: scale(1.1);
		 }
		 50% {
		   -moz-transform: scale(0.8);
		   transform: scale(0.8);
		 }
		 100% {
		   -moz-transform: scale(1);
		   transform: scale(1);
		 }
		}

		@-webkit-keyframes "pulse2" {
		 0% {
		   -webkit-transform: scale(1.1);
		   transform: scale(1.1);
		 }
		 50% {
		   -webkit-transform: scale(0.8);
		   transform: scale(0.8);
		 }
		 100% {
		   -webkit-transform: scale(1);
		   transform: scale(1);
		 }

		}

		@-ms-keyframes "pulse2" {
		 0% {
		   -ms-transform: scale(1.1);
		   transform: scale(1.1);
		 }
		 50% {
		   -ms-transform: scale(0.8);
		   transform: scale(0.8);
		 }
		 100% {
		   -ms-transform: scale(1);
		   transform: scale(1);
		 }

		}

//importing essential library of less mixins for css3 from http://lesselements.com*****************************************/
@import "elements.less";

body{
	font-family: 'Open Sans', sans-serif;
	width:100%;
	.gradient(@color: #3b3435, @start: #000, @stop: #3b3435);
	header, section, footer{
		width: 90%;
		max-width: 1200px;
		margin:0 auto;
		.headerinner, .introinner, .specialitiesinner, .footerinner{
			padding: 20px 50px 50px 50px;
		}
	}

	//header with the social icons*****************************************/
	header{
		background: #000 url(../../images/headeredge.png) repeat-x left bottom;
		h1, h2{
			margin: 0;
		}
		h1{
			font-family: 'Leckerli One', cursive;
			font-weight: lighter;
			font-size: 48px;
			color:#fff;
			line-height: 65px;
			span{
				color: #cfcfcf;
			}
		}
		h2{
			font-family: 'Crafty Girls', cursive;
			font-size: 22px;
			font-weight: lighter;
			color:#d0cdcd;
		}
		.hdrs{
			float: left;
		}

		//socialicons in the header*****************************************/
		ul{
			float: right;
			li{
				float: left;
				padding-right: 10px;
				a{
					display: block;
					height: 42px;
					width: 45px;
					text-indent: -999px;
					overflow: hidden;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: transparent;
				}
				&.twitter a{
					background-image: url(../../images/icontwitter.png);
					&:hover{
						background-image: url(../../images/icontwitterhover.png);
					}
				}
				&.instagram a{
					background-image: url(../../images/iconinstagram.png);
					&:hover{
						background-image: url(../../images/iconinstagramhover.png);
					}
				}
				&.behance a{
					background-image: url(../../images/iconbehance.png);
					&:hover{
						background-image: url(../../images/iconbehancehover.png);
					}
				}
				&.linkedin a{
					background-image: url(../../images/iconlinkedin.png);
					&:hover{
						background-image: url(../../images/iconlinkedinhover.png)
					}
				}
			}
		}
	}

	//intro section with the action buttons*****************************************/
	.intro{
		position: relative;
		z-index: 99;
		background: #fff url(../../images/introedge.png) repeat-x left bottom;
		padding-bottom: 50px;
		.introinner{
			padding-top: 10px;
			padding-bottom: 20px;
		}
		h3{
			margin:0;
			//font-family: 'Ubuntu', sans-serif;
			//font-family: 'Exo', sans-serif;
			//font-family: 'Londrina Shadow', cursive;
			//font-family: 'Titillium Web', sans-serif;
			font-family: 'Fredericka the Great', cursive;
			//font-family: 'Leckerli One', cursive;
			//font-family: 'Flavors', cursive;
			//font-family: 'Advent Pro', sans-serif;
			font-weight: lighter;
			font-size: 40px;
			color:#424242;
			line-height: 55px;
/*			letter-spacing: 0.00002em;*/
			span{
				color:#3699df;
				&.withlove{
					font-size: 20px;
					font-family: 'Crafty Girls', cursive;
					color:#aca4a4;
					letter-spacing: 1;
				}
			}
		}
		p{
			width: 70%;
			margin: 10px 0 40px 0;
			font-size: 22px;
			font-weight: lighter;
			color:#000;
		}
		a{
			font-size: 24px;
			font-weight: lighter;
		}
		.viewworks {
		   border-top: 1px solid #96d1f8;
		   background: #2285af;
		   background: -webkit-gradient(linear, left top, left bottom, from(#2285af), to(#2285af));
		   background: -webkit-linear-gradient(top, #2285af, #2285af);
		   background: -moz-linear-gradient(top, #2285af, #2285af);
		   background: -ms-linear-gradient(top, #2285af, #2285af);
		   background: -o-linear-gradient(top, #2285af, #2285af);
		   padding: 11px 22px;
		   margin-right: 20px;
		   -webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		   border-radius: 4px;
		   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		   box-shadow: rgba(0,0,0,1) 0 1px 0;
		   text-shadow: rgba(0,0,0,.4) 0 1px 0;
		   color: white;
		   font-size: 24px;
		   font-family: Helvetica, Arial, Sans-Serif;
		   font-weight: lighter;
		   text-decoration: none;
		   vertical-align: middle;
		   }
		.viewworks:hover {
		   border-top-color: #28597a;
		   background: #28597a;
		   color: #fff;
		   }
		.viewworks:active {
		   border-top-color: #1b435e;
		   background: #1b435e;
		}
		.withlove{
			position: relative;
			display: inline-block;
			padding-right: 40px;
			background: url(../../images/heart.png) no-repeat right center;
			line-height: 40px;
			vertical-align: bottom;
			top: -10px;
		}
	}

	//timeline section*****************************************/
	.timeline{
		padding-bottom: 0;
		position: relative;
		top: -18px;
		z-index: 999;
		background: #fff url(../../images/cloudbg.png) no-repeat right top;
		.timelineinner{
			padding: 0;
			background: url(../../images/perurland.png) no-repeat right bottom;
			nav, .timelineitems{
				float: left;
			}
			nav{
				position: absolute;
				left: 50px;
				top: 50px;
				width: 4px;
				height: 270px;
				//background: #fff;
				background: #f0f0f0;
				//border:solid 1px #e6e6e6;
				padding-top: 20px;
				.inner-shadow(0, 2px, 2px, 0.4);
				li{
					position: relative;
					left: -7px;
					list-style: none;
					text-indent: -99999px;
					a{
						display: block;
						height: 15px;
						width: 15px;
						border-radius: 24px;
						background: #c9c9c9;
						border: solid 2px #bdbaba;
						margin-bottom: 30px;
						&:hover{
							border-color:#000;
						}
					}
					&.active{
						left: -11px;
						a{
							background: #5ab1e8;
							border-color:#2a6488;
							width: 22px;
							height: 22px;							
						}
					}
				}
			}
			.timelineitems{
				//width: 100%;
				padding: 60px 50px 80px 110px;
			}
			h3{
				display: none;
			}
			article{
				h4{
					font-size: 90px;
					//font-weight: lighter;
					margin:0 10px 30px 0;
					line-height: 75px;
					background: url(../../images/textmask.png) no-repeat left bottom;
			   -webkit-background-clip: text;
			   -webkit-text-fill-color: transparent;
				}
				h4,h5,h6{
					margin-top: 0;
				}
				h4, .place{
					float: left;
					position: relative;
					z-index: 999;
				}
				.place{
					h5,h6{
						margin-bottom: 0;
					}
					h5{
						color: #401224;
						font-size: 24px;
						font-weight: lighter;
						margin-bottom: 5px;
					}
					h6{
						padding-left: 25px;
						line-height: 30px;
						color: #746f6f;
						font-size: 22px;
						font-weight: lighter;
						background: url(../../images/iconlocation.png) no-repeat left center;
					}
				}
				.story{
					position: relative;
					z-index: 999;
					display: block;
					clear: both;
					width: 40%;
					p{
						font-size: 16px;
						color:#383737;
					}
					p:first-child{
						font-size: 18px;
						color:#000;
					}
				}
				.building{
					height: 485px;
					width: 770px;
					position: absolute;
					right: 0;
					bottom: 0;
					z-index: 99;
					background: url(../../images/indiagate.png) no-repeat right bottom;
				}
			}
		}
	}

	//specialities section*****************************************/
	.specialities{
		background: url(../../images/specialitiesedge.png) repeat-x left top;
		position: relative;
		top: -25px;
		z-index: 9999;
		.specialitiesinner{
			padding-top: 40px;
			padding-bottom: 80px;
		}
		h3{
			font-family: 'Leckerli One', cursive;
			font-size: 36px;
			font-weight: lighter;
			margin:0 0 20px 0;
		}
		ul{
			padding:0;
			margin:0;
			li{
				margin-right: 55px;
				float: left;
				list-style: none;
				a{
					display: block;
					height: 145px;
					width: 145px;
					border-radius: 10px;
					border:solid 5px #cce2ec;
					background: #fff;
					.drop-shadow(0, 1px, 2px, 0.5);
					color:#434547;
					text-align: center;
					background-repeat: no-repeat;
					background-position: center center;
					span{
						display: block;
						text-align: center;
						position: relative;
						bottom: -160px;
						left: 0;
					}
				}
				&.ux{
					a{
					background-image: url(../../images/iconux.png);
					}
				}
				&.pixel{
					a{
					background-image: url(../../images/iconpixelperfect.png);
					}
				}
				&.proto{
					a{
					background-image: url(../../images/icontags.png);
					}
				}
				&.internet{
					a{
					background-image: url(../../images/iconux.png);
					}
				}
				&.learner{
					a{
					background-image: url(../../images/iconux.png);
					}
				}
				&.internet{
					a{
					background-image: url(../../images/iconinternet.png);
					}
				}
			}
		}
	}
}